name: "Test Setup Edgee Action (Build)"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Test Setup Edgee Action (Build)
        uses: ./
        with:
          build: true
